@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: black;
    color: white;
}
.nav{
    background-color: black;
}